*{
    margin: 0;
    padding: 0;
}
*::before,*::after{
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    display: flex;
}

.main-div{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid black; */
}

.div-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50%;
    height: 65%;
    /* background-color: violet; */
    padding: 0;
    margin: 0;
    border: 2px solid black;
}

.result{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 70%;
    margin: 2%;
    background-color:aliceblue;
    /* clip-path: circle(50%); */
    border-radius: min(50%, 100px)
    /* border: 2px solid black; */
}
.result-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    border: 2px solid black;
}
.result-div{
    position: relative;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    border-radius: 50px;
    /* border: 2px solid black; */
}
.result-footer{
    height: 50%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3px;
    margin-bottom: 5%;
    background-color: antiquewhite;
    border: 2px solid black;
}

.summary-div{
    position: relative;
    background-color: blueviolet;
    width: 70%;
    height: 100%;
}
.summary-header{
    border: 2px solid black;
    height: 15%;
    display: flex;
    justify-content: center;
}

.result-summary{
    border: 2px solid white
}

.summary{
    border: 2px solid rgb(0, 238, 255);
}
.btn-div{
    border: 2px solid black;
}